@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

:root {
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-tertiary: #343a40;
    --color-quaternary: #ffc107;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-gradient-start: #007bff;
    --color-gradient-end: #6c757d;
    --color-gris: #d1d1d1;
}

::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    /* Color de fondo del riel */
    border-radius: 10px;


}

::-webkit-scrollbar-thumb {
    /* Color del pulgar */
    border-radius: 10px;
    background-color: var(--color-blanco);
}


body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #000;
    color: #fff;

}

.espaciado {
    padding: 5% 5%;
}

.espaciado-arriba-abajo {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
}

/*-----------NAV-------------*/
.bg-body-tertiary {
     --bs-bg-opacity: 1; 
    background-color: #000000f5 !important;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.astronauta-header {
    width: 30px;
    height: 30px;
    fill: var(--color-blanco);
}


#enlaces-nav a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--color-gris);
}

#enlaces-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0.5rem;
    bottom: 0;
    background-color: var(--color-blanco);
    transition: width 0.7s ease;
}



#enlaces-nav a:hover {
    color: var(--color-blanco);
}

#enlaces-nav a:hover::after {
    width: 50%;
}


/*---------HEADER-------------*/
#inicio-main {
    width: 100%;
    background-image: url("../img/fondos/3.jpg");
    min-height: 400px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(black 95%, transparent);
}


/*--------FIN----------------*/
#inicio-main::after,
#inicio-main::before {
    content: "";
    background-color: #00011523;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#inicio-main .row {
    position: relative;
    z-index: 2;
}

.caja-nombre {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

.caja-nombre h1 {

    font-size: 5rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px #000;
}


.caja-nombre h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 4px #000000;
}

.caja-gif {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.caja-gif img {
    width: 300px;
    height: 300px;
    mask-image: linear-gradient(transparent, black 20%);
}

#caja-img-space {
    border-radius: 50%;
}

#cv {
    padding: 10px 20px;
    border-radius: 50px;
}

#img-space {
    width: 85%;
}



/*-----------------FIN-------------*/


#mian-contenido {
    background-image: url("../img/fondos/9.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
}

#mian-contenido::before {
    content: "";
    background: linear-gradient(to right, #00000075, #0000006b);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

/*-----------------SOBRE MI-------------*/
.mi-descripcion {
    color: var(--color-blanco);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
}

/*-----------------FIN-------------*/

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M370.7 96.1C346.1 39.5 289.7 0 224 0S101.9 39.5 77.3 96.1C60.9 97.5 48 111.2 48 128l0 64c0 16.8 12.9 30.5 29.3 31.9C101.9 280.5 158.3 320 224 320s122.1-39.5 146.7-96.1c16.4-1.4 29.3-15.1 29.3-31.9l0-64c0-16.8-12.9-30.5-29.3-31.9zM336 144l0 16c0 53-43 96-96 96l-32 0c-53 0-96-43-96-96l0-16c0-26.5 21.5-48 48-48l128 0c26.5 0 48 21.5 48 48zM189.3 162.7l-6-21.2c-.9-3.3-3.9-5.5-7.3-5.5s-6.4 2.2-7.3 5.5l-6 21.2-21.2 6c-3.3 .9-5.5 3.9-5.5 7.3s2.2 6.4 5.5 7.3l21.2 6 6 21.2c.9 3.3 3.9 5.5 7.3 5.5s6.4-2.2 7.3-5.5l6-21.2 21.2-6c3.3-.9 5.5-3.9 5.5-7.3s-2.2-6.4-5.5-7.3l-21.2-6zM112.7 316.5C46.7 342.6 0 407 0 482.3C0 498.7 13.3 512 29.7 512l98.3 0 0-64c0-17.7 14.3-32 32-32l128 0c17.7 0 32 14.3 32 32l0 64 98.3 0c16.4 0 29.7-13.3 29.7-29.7c0-75.3-46.7-139.7-112.7-165.8C303.9 338.8 265.5 352 224 352s-79.9-13.2-111.3-35.5zM176 448c-8.8 0-16 7.2-16 16l0 48 32 0 0-48c0-8.8-7.2-16-16-16zm96 32a16 16 0 1 0 0-32 16 16 0 1 0 0 32z"/></svg> */
/*-----------------TECNOLOGIAS -------------*/
#tecnologias-main {
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    min-height: 300px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 150px;
    min-height: 180px;
    max-height: 190px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px* 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item .icono-tecnologia {
    fill: var(--color-blanco);
    width: 60%;
    height: 100%;
    padding: 10px;
    filter: drop-shadow(0px 0px 12px var(--icon-color));
}

.nombre-tecnologia {
    color: var(--color-blanco);
    background-color: #000 !important;
    text-align: center;
    padding: 10px 30px;
    border-radius: 8px;
}

/*--------------------FIN-------------------------*/


/*-----------------HABULIDADES BLANDAS-------------*/

#habilidades-blandas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
}

#contenedor-habilidades {
    width: 70%;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    padding: 50px;
}

.caja-habilidades-blandas {
    width: 20%;
    min-height: 500px;
    max-height: 500px;
    padding: 0;
    margin: 0px 3px;
    gap: 0;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;

}


.caja-habilidades-blandas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    filter: grayscale(0%);
    position: relative;
}

.habilidades-blandas-nombre {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.habilidades-blandas-nombre h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 4px 1px 0px red;
}

.caja-habilidades-blandas:hover {
    width: 70%;
    transition: all ease-in-out 1s;


}

.caja-habilidades-blandas:hover img {
    width: 100%;
    filter: grayscale(0%);

}

.caja-habilidades-blandas:hover .habilidades-blandas-nombre {
    opacity: 1;
}


/*-----------------FIN-------------*/

/*---------PROYECTOS-----------*/
.containerx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card__container {
    padding-block: 5rem;

}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;

}

.card__article {
    width: 300px;
    /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
}



.card__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    width: 100%;
    object-fit: cover;

}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: #02020691;
}

.card__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    background-color: #000;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    aspect-ratio: 4/3;
}


.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

.card__enlances {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.enlaces__proyectos {
    width: 50px;
    padding: 5px;
}

.enlaces__proyectos i {
    font-size: 28px;
    color: #fff;
    padding: 10px;
    /* background: red; */
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

/*------------------FIN----------------------*/


/*---------------------CONTACTO--------------------*/
#contacto-main {
    text-align: center;
}

#contacto {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px 50px;

}

#contacto .contacto-enlaces {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto .contacto-enlaces a {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;
    text-decoration: none;
    color: var(--color-gris);
}

#contacto .contacto-enlaces i {
    color: var(--color-blanco);
    font-size: 50px;
}

#contacto .contacto-enlaces a:hover {
    color: var(--color-blanco);
}

#contacto .contacto-enlaces a:hover i {
    filter: drop-shadow(0px 0px 5px var(--iContactoColor));


}

/*------------------FIN----------------------*/


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .caja-icon {
        flex: 1 1 45%;
        /* Cambia el ancho para pantallas medianas */
        min-height: 100px;
        /* Ajusta la altura mínima */
        padding: 15px;
    }

    #habilidades-blandas {
        display: none;

    }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        flex-direction: row;
        padding: 8px 20px;
    }

    #inicio-main .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        flex-direction: column-reverse;
    }
    #enlaces-nav a:hover::after {
        width: 10%;
    }

    .caja-nombre {
        text-align: center;
    }

    .caja-nombre h1 {

        font-size: 3.5rem;
        font-weight: 600;
        text-shadow: 4px 4px 4px #000;
        text-align: center;
    }

    #img-space {
        width: 100%;
        display: none;
    }

    .caja-icon {
        flex: 1 1 100%;
        /* Una caja por línea en pantallas pequeñas */
        min-height: 80px;
        /* Ajusta la altura mínima */
        padding: 10px;
    }

    #habilidades-blandas {
        display: none;

    }

    #proyectos {}

    .swiper-button-prev {
        display: none !important;
    }

    .swiper-button-next {
        display: none !important;

    }

    #contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px 20px;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;


    }
}