@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

:root {
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-tertiary: #343a40;
    --color-quaternary: #ffc107;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-gradient-start: #007bff;
    --color-gradient-end: #6c757d;
    --color-gris: #d1d1d1;
}

::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    /* Color de fondo del riel */
    border-radius: 10px;


}

::-webkit-scrollbar-thumb {
    /* Color del pulgar */
    border-radius: 10px;
    background-color: var(--color-blanco);
}


body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: var(--color-negro);
    color: var(--color-blanco);

}

.espaciado {
    padding: 5% 5%;
}

.espaciado-arriba-abajo {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
}

.h1s {
    font-size: 3rem;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 0 0 8px rgb(249 227 227 / 80%), 0 0 15px rgb(121 131 119), 0 0 25px rgb(168 179 169 / 49%);
    text-transform: uppercase;
    font-weight: bold;
}

/*-----------NAV-------------*/
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #000000f5 !important;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.astronauta-header {
    width: 30px;
    height: 30px;
    fill: var(--color-blanco);
}


#enlaces-nav a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: var(--color-gris);
}

#enlaces-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0.5rem;
    bottom: 0;
    background-color: var(--color-blanco);
    transition: width 0.7s ease;
}



#enlaces-nav a:hover {
    color: var(--color-blanco);
}

#enlaces-nav a:hover::after {
    width: 50%;
}


/*---------HEADER-------------*/
#inicio-main {
    width: 100%;
    background-image: url("../img/fondos/3.jpg");
    min-height: 45vw;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(black 95%, transparent);
}

#inicio-main::after,
#inicio-main::before {
    content: "";
    background-color: #00011523;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#inicio-main .row {
    position: relative;
    z-index: 2;
}

.caja-nombre {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

.caja-nombre h1 {

    font-size: 5rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px #000;
}


.caja-nombre h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 4px #000000;
}

#cv {
    padding: 10px 20px;
    border-radius: 50px;
}

.caja-gif {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    user-select: none;
    display: none;
}

.caja-gif img {
    width: 200px;
    height: 200px;
    mask-image: linear-gradient(transparent, black 20%);
}



#caja-img-space {
    position: relative;
    height: 40vh;
    user-select: none;
    /* Asegúrate de que el contenedor tenga suficiente altura */

}

#img-space {
    position: absolute;
    width: 100%;
    top: -90%;
    /* Mueve la imagen 20% por encima del borde superior del contenedor */
    right: 10%;
    animation: mover-astronauta-saludando 5s linear infinite;
    z-index: 999999999;
}

@keyframes mover-astronauta-saludando {
    0% {
        top: -30%;
    }

    50% {
        top: 20%;
        /* Ajusta el valor según el rango deseado */
    }

    100% {
        top: -30%;
    }
}

/*-----------------FIN-------------*/


#mian-contenido {
    background-image: url("../img/fondos/9.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
}

#mian-contenido::before {
    content: "";
    background: linear-gradient(to right, #00000075, #0000006b);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

/*-----------------SOBRE MI-------------*/
.mi-descripcion {
    color: var(--color-blanco);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
}

/*-----------------FIN-------------*/

/*-----------------TECNOLOGIAS -------------*/
#tecnologias-main {
    text-align: center;
    width: 100%;
    height: auto;
}

#carrusel-tecnologias {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    /* Negro translúcido */
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    gap: 30px 20px;


}

#carrusel-tecnologias .contenedor-cd-tecnologia {
    width: 150px;
    height: 150px;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
    justify-content: space-around;
    align-content: stretch;


}

#carrusel-tecnologias .contenedor-cd-tecnologia svg {}

.contenedor-cd-svg {
    padding: 5px;
}

.contenedor-cd-svg svg {
    width: 75px;
    height: 75px;
    filter: drop-shadow(0px 0px 12px var(--icon-color));



}

.txt-nombre-nivel {
    background-color: var(--color-negro);
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

.txt-nombre-nivel.mouseOver {
    background-color: var(--color-blanco);
    color: var(--color-negro);
}


/*--------------------FIN-------------------------*/


/*-----------------HABULIDADES BLANDAS-------------*/

#habilidades-blandas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
}

#contenedor-habilidades {
    width: 70%;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    padding: 50px;
}

.caja-habilidades-blandas {
    width: 20%;
    min-height: 500px;
    max-height: 500px;
    padding: 0;
    margin: 0px 3px;
    gap: 0;
    position: relative;
    border: 2px solid #D4AF37;
    border-radius: 10px;

}


.caja-habilidades-blandas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    filter: grayscale(100%);
    position: relative;
}

.habilidades-blandas-nombre {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    flex-direction: row;
    gap: 0px 5px;

}
.habilidades-blandas-nombre i {
    font-size: 20px;

}

.habilidades-blandas-nombre span {
    color: var(--color-blanco);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    /* margin: auto; */
    font-weight: 600;
    padding: 10px 5px;


}

.caja-habilidades-blandas:hover {
    width: 80%;
    transition: all ease-in-out 1s;


}

.caja-habilidades-blandas:hover img {
    width: 100%;
    filter: grayscale(0%);

}

.caja-habilidades-blandas:hover .habilidades-blandas-nombre {
    opacity: 1;
}





/*-----------------FIN-------------*/

/*---------PROYECTOS-----------*/
.containerx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card__container {
    padding-block: 5rem;

}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;

}

.card__article {
    width: 300px;
    /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
}



.card__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    width: 100%;
    object-fit: cover;

}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: #02020691;
}

.card__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    background-color: #000;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    aspect-ratio: 4/3;
}


.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

.card__enlances {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.enlaces__proyectos {
    width: 50px;
    padding: 5px;
}

.enlaces__proyectos i {
    font-size: 28px;
    color: #fff;
    padding: 10px;
}

/* Swiper class */
.swiper-button-prev:after {
    content: "";
    position: absolute;
    left: -10px;
}

.swiper-button-next:after {
    content: "";
    position: absolute;
    right: -10px;
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}

/*------------------FIN----------------------*/


/*---------------------CONTACTO--------------------*/

#formulario-contacto {
    width: 100%;
}

#formulario-contacto div {
    gap: 20px 0px;
}

#formulario-contacto div .inputs::placeholder {
    color: var(--color-blanco);
}

#formulario-contacto div .inputs {
    background: var(--color-negro);
    border: 1px solid var(--color-negro);
    border-radius: 20px;
    color: var(--color-blanco);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    margin: 0 0 8px;
    padding: 18px 26px;
    transition: .3s ease-in-out;
    width: 100%;
}

#formulario-contacto div .inputs:focus {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    color: var(--color-negro);
    outline: none;

}

#formulario-contacto div .inputs:focus::placeholder {
    color: var(--color-negro);
}

#mensaje {
    background-color: red;
    min-height: 200px;
}

#btn-enviar {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    border-radius: 0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    padding: 7px 24px;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid var(--color-negro);


}

#btn-enviar:hover {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-blanco) !important;
    color: var(--color-negro);

}

#contenedor-resultado {
    display: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Transiciones suaves */


}

#contenedor-resultado span {
    text-shadow: 4px 4px 4px black;
    font-size: 20px;
}

#contenedor-img-astronauta-relajado {
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 999999;
    user-select: none;
}

#contenedor-img-astronauta-relajado img {
    position: absolute;
    width: 85%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -25%);
    animation: mover-astronauta-relajado 5s linear infinite;
}

@keyframes mover-astronauta-relajado {
    0% {
        top: 0%;
        /* Comienza en el lado derecho */
    }

    50% {
        top: 50%;
        /* Salta de vuelta al lado derecho instantáneamente */
    }

    100% {
        top: 0%;
        /* Se prepara para el próximo ciclo */
    }
}

/*------------------FIN----------------------*/

/*------------------FOOTER----------------------*/
#footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    gap: 20px 0px;
    padding: 35px 0px;

}

#footer-main .iconos-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 30px;
    width: 100%;
    flex-wrap: nowrap;


}

.iconos-footer .contacto-enlaces {
    /* padding: 5px 32px; */
    width: 50px;
    height: 50px;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

}

.iconos-footer .contacto-enlaces i {
    color: var(--color-negro);
    font-size: 30px;
}

.iconos-footer .contacto-enlaces:hover {
    background-color: var(--color-negro);
}

.iconos-footer .contacto-enlaces:hover i {
    color: var(--color-blanco);
    font-size: 35px;

}

.linea-footer {
    background-color: #d1d1d142;
    width: 100%;
    height: 0.5px;

}

/*------------------FIN----------------------*/


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .caja-icon {
        flex: 1 1 45%;
        /* Cambia el ancho para pantallas medianas */
        min-height: 100px;
        /* Ajusta la altura mínima */
        padding: 15px;
    }

    #habilidades-blandas {
        display: none;

    }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        flex-direction: row;
        padding: 8px 20px;
    }

    .h1s {
        font-size: 2.5rem;
    }

    #inicio-main .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        flex-direction: column-reverse;
    }

    #enlaces-nav a:hover::after {
        width: 10%;
    }

    .caja-nombre {
        text-align: center;
    }

    .caja-nombre h1 {

        font-size: 3.5rem;
        font-weight: 600;
        text-shadow: 4px 4px 4px #000;
        text-align: center;
    }

    .caja-gif {
        display: block;
    }

    #caja-img-space {
        display: none;
    }


    .caja-icon {
        flex: 1 1 100%;
        /* Una caja por línea en pantallas pequeñas */
        min-height: 80px;
        /* Ajusta la altura mínima */
        padding: 10px;
    }

    #carrusel-tecnologias {
        width: 100%;
        display: flex;
        background: #fefefe3d;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 15px 0px;
        border-radius: 15px;
        gap: 30px 10px;
        /* mask-image: linear-gradient(to right, rgba(228, 13, 13, 0), rgb(100, 0, 0) 20%, rgb(5, 0, 0) 80%, rgba(59, 252, 0, 0)); */
        align-items: center;
    }


    #carrusel-tecnologias .contenedor-cd-tecnologia {
        width: 46%;
        height: 150px;
        /* border: 1px solid gray; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px 0px;
        /* justify-content: space-around; */
        /* background: blue; */
    }

    #habilidades-blandas {
        display: none;

    }



    #contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px 20px;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;


    }
}