@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

:root {
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-tertiary: #343a40;
    --color-quaternary: #ffc107;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-gradient-start: #007bff;
    --color-gradient-end: #6c757d;
    --color-gris: #d1d1d1;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: blue;


    /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    /* Color de fondo del riel */
    border-radius: 10px;
    background-color: #000;
    width: 50px;


}

::-webkit-scrollbar-thumb {
    /* Color del pulgar */
    border-radius: 10px;
    background-color: #fff;
    width: 120px;
}


body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #000;
    color: #fff;


}

.espaciado {
    padding: 5% 5%;
}


/*---------HEADER-------------*/
#header-main {
    width: 100%;
    background-image: url("../img/fondos/3.jpg");
    min-height: 400px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

#header-main::after,
#header-main::before {
    content: "";
    background-color: #00011523;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header-main .row {
    position: relative;
    z-index: 2;
}


#caja-img-space {
    border-radius: 50%;
}

#cv {
    padding: 6px 16px;
    border-radius: 50px;
}

#img-space {
    width: 85%;
}

.caja-nombre {
    padding-top: 5%;
}

/*-----------------FIN-------------*/


#mian-contenido {
    background-image: url("../img/fondos/9.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;


}

/*-----------------SOBRE MI-------------*/
.mi-descripcion {
    color: var(--color-blanco);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;


}

.contacto {}



.contacto ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacto ul li {
    margin-bottom: 10px;

}

.contacto ul li a {
    text-decoration: none;
    color: var(--color-blanco);
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacto ul li a i {
    font-size: 35px;
    margin-right: 10px;
}

.contacto span {
    color: var(--color-gris);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.contacto ul li:hover i {
    fill: var(--iContactoColor);
    color: var(--iContactoColor);
    filter: drop-shadow(0px 0px 12px var(--iContactoColor));

}

.contacto ul li:hover span {
    color: #FFFFFF;
}



/*-----------------FIN-------------*/

#mian-contenido::before {
    content: "";
    background: linear-gradient(to right, #0000000f, #feb47b3b);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

/*-----------------TECNOLOGIAS -------------*/
#tecnologias-main {
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    min-height: 300px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 150px;
    min-height: 150px;
    max-height: 190px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    flex-shrink: 0;
    /* Evita que los elementos se compriman */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px 20px;
}

.item .icono-tecnologia {
    fill: var(--color-blanco);
    width: 50%;
    height: 100%;
    padding: 10px;
    filter: drop-shadow(0px 0px 12px var(--icon-color));
}

.nombre-tecnologia {
    color: var(--color-blanco);
    background-color: #000 !important;
    text-align: center;
    padding: 10px 30px;
    border-radius: 8px;
}

/*--------------------FIN-------------------------*/


/*-----------------HABULIDADES BLANDAS-------------*/

#habilidades-blandas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
}

#contenedor-habilidades {
    width: 70%;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    padding: 50px;
}

.caja-habilidades-blandas {
    width: 20%;
    min-height: 500px;
    max-height: 500px;
    padding: 0;
    margin: 0px 3px;
    gap: 0;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;

}


.caja-habilidades-blandas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    filter: grayscale(0%);
    position: relative;
}

.habilidades-blandas-nombre {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.habilidades-blandas-nombre h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 4px 1px 0px red;
}

.caja-habilidades-blandas:hover {
    width: 70%;
    transition: all ease-in-out 1s;


}

.caja-habilidades-blandas:hover img {
    width: 100%;
    filter: grayscale(0%);

}

.caja-habilidades-blandas:hover .habilidades-blandas-nombre {
    opacity: 1;
}


/*-----------------FIN-------------*/

/*---------PROYECTOS-----------*/
.containerx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card__container {
    padding-block: 5rem;

}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;

}

.card__article {
    width: 300px;
    /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
}



.card__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    width: 100%;
    object-fit: cover;

}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: #02020691;
}

.card__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    background-color: #000;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    aspect-ratio: 4/3;
}


.card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
}

.card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

.card__enlances {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.enlaces__proyectos {
    width: 50px;
    padding: 5px;
}

.enlaces__proyectos i {
    font-size: 25px;
    color: #fff;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color);
}






/*------------------FIN----------------------*/


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .caja-icon {
        flex: 1 1 45%;
        /* Cambia el ancho para pantallas medianas */
        min-height: 100px;
        /* Ajusta la altura mínima */
        padding: 15px;
    }

    #habilidades-blandas {
        display: none;

    }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
    #header-main .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        flex-direction: column-reverse;

    }

    .caja-icon {
        flex: 1 1 100%;
        /* Una caja por línea en pantallas pequeñas */
        min-height: 80px;
        /* Ajusta la altura mínima */
        padding: 10px;
    }

    #habilidades-blandas {
        display: none;

    }

    #proyectos {}

    .swiper-button-prev {
        display: none !important;
    }

    .swiper-button-next {
        display: none !important;

    }
}